[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-gpx-helper
Exec=sailfish-qml harbour-gpx-helper
Name=GPX Helper
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
# Name[de]=harbour-gpx-helper

[X-Sailjail]
# Replace with your organization as a reverse domain name
OrganizationName=nl.cow-n-berg
# ApplicationName does not have to be identical to Name
ApplicationName=harbour-gpx-helper
# Add the required permissions here
Permissions=Internet;UserDirs
